
  @import"https://fonts.googleapis.com/css?family=Cabin+Sketch|Quicksand";


  h1{
    font-family: Cabin Sketch, monospace;
    font-size: 50px;
    background-color: #ffeaea;
    text-align: center;
    letter-spacing: 1.5px;
    

  }

  h2{
    font-family: Quicksand, sans-serif;
    font-size: 35px;
  }

  h3{
    font-family: Quicksand, sans-serif;
    font-size: 30px;
  }

  p{
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    text-align: justify;
    margin: 0 auto;
    width: 30em;
  }

  span{
    font-family: Quicksand, sans-serif;
    font-size: 22px;
    text-align: justify;
    margin: 0 auto;
    width: 80%;
  }

  ol{
    font-family: Quicksand, sans-serif;
    font-size: 22px;
    text-align: left;
    width: 30em;
  }

ul{
  font-family: Quicksand, sans-serif;
    font-size: 22px;
    text-align: left;
    width: 30em;
  }


  .fullCard {
    width: 500px;
    border: 5px solid;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
  }
  .cardContent {
    padding: 10px;
  }
  .cardText {
    margin-bottom: 20px;
  }
  .img{
      width: 500px;
      display: inline-flex;
  }
  .image img{
    width: 500px;
    border: 3px;
    border-radius: 2px;
    position: center;
    margin: 5px;
    }

  .sprints{
    text-align: center;
  }

  .button {
  background-color: #ffeaea;
  border: 20px;
  border-color: black;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.button2 {
  background-color: white;
  border: 20px;
  border-color: black;
  color: white;
  margin: 5px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  }

  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid black;
  background-color: #ffeaea;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: Quicksand, sans-serif;
  font-size: 35px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffc06ef5;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: ##ffeaea;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid black;
  border-top: none;
}

function thisTab(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}